@import '../../styles/variables.scss';

.exchangesPage {
  background-color: $mainBackground;

  .exchangesPageTitle {
    width: fit-content;
    margin: auto;
    font-size: 22px;
    font-family: $font-inter-med;
    text-align: center;
    padding: 2%;

    @media (max-width: 768px) {
      font-size: 18px;
    }

    @media (max-width: 425px) {
      font-size: 15px;
    }
  }

  .priceItems {
    overflow-x: hidden;

    @media (max-width: 768px) {
      overflow-x: scroll;
    }
  }

  table {
    margin: 2rem auto;
    font-size: 14px;
    width: 95%;
    // margin: 1rem auto;

    tr {
      border-top: 1px solid $borderBottom;
      padding: 1rem;
      display: flex;
      justify-content: space-around;
      align-items: center;

      th {
        display: flex;
        align-items: center;
        width: -webkit-fill-available;
      }

      td:nth-child(n + 3) {
        justify-content: end;
      }

      th:nth-child(n + 3) {
        justify-content: end;
      }

      td {
        display: flex;
        align-items: center;
        width: -webkit-fill-available;
        img {
          width: 35px;
          height: 35px;
          margin-right: 15%;

          @media (max-width: 768px) {
            width: 32px;
            height: 32px;
          }
        }
      }
    }

    @media (max-width: 768px) {
      width: 180%;
    }

    @media (max-width: 574px) {
      width: 210%;
    }

    @media (max-width: 490px) {
      width: 250%;
    }

    @media (max-width: 380px) {
      width: 300%;
    }
  }
}
